#button{
    -fx-background-color: #26A69A;
    -fx-background-radius: 999px;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
    -fx-font-family: "Inter", "Helvetica", "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", sans-serif;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 4px 10px;
    -fx-opacity: 1;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
}
#button:hover {
    -fx-background-color: #00897B;
}

#buttonSort{
    -fx-background-color: #203F47;
    -fx-background-radius: 999px;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
    -fx-font-family: "Inter", "Helvetica", "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", sans-serif;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-padding: 2px 6px;
    -fx-opacity: 1;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
}
#buttonSort:hover {
    -fx-background-color: #008985;
}

#bg {
    -fx-background-color: #1D3846;
}
#choice_box{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 200px;
    -fx-cursor: hand;
    -fx-font-family: "Inter", "Helvetica", "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols", "-apple-system", "system-ui", "Segoe UI", "Roboto", "Helvetica Neue", "Noto Sans", sans-serif;
    -fx-font-weight: bold;
    -fx-padding: 4px 10px;
    -fx-opacity: 1;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}

